.component{
    border: 2px solid greenyellow;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: hotpink;
    color: white;
}
.component img{
    width: 25%;
}
.main-button{
    background-color: blue;
    border:1px blue solid ;
    padding: 10px;
    color: white;
}