
.header img{
    width: 100%;
}
.team-details-container{
    background-color: navy;
    padding: 25px;
}
.team-details-top{
    
    margin: 20px;
    border-radius: 25px;
    background-color: blue;
    display: flex;
}

.team-details{
    color: white;
    width: 40%;
    margin: 5%;
}

.team-image{
    color: white;
    width: 40%;
    margin: 5%;
}

.team-image img{
    width : 100%;
}

.team-description{
    margin : 5%;
    color: white;
    text-justify:auto;
}